:root {
  --border-radius: 5px;
  --accent-green: #ef233c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

.wrapper img {
    max-width: 100%;
}

header {
    background: #eaeaea;
    border-top: 3px solid var(--accent-green);
    border-bottom: 1px solid #dadada;
}

header .wrapper {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
}

header a {
    text-decoration: none;
}

header .title {
    grid-column: 1;
    text-align: left;
    color: #000000;
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
}

header .site-logo {
    grid-row: 1 / span 2;
    grid-column: 1;
    font-size: 32px;
    align-self: center;
    background: var(--accent-green);
    margin-right: 10px;
    padding: 4px 0px;
    border-radius: var(--border-radius);
}

header .site-name {
    font-size: 20px;
    font-weight: 500;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

header .site-subname {
    font-size: 14px;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

header .avatar-wrapper {
    grid-column: 3;
    align-self: center;
    justify-self: right;
}

header .avatar {
    border-radius: 50%!important;
    height: 40px;
    border: 2px solid var(--accent-green);
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    vertical-align: middle;
}

h1 span {
    vertical-align: middle;
}

h2 {
    margin: 20px 0;
}

h1, h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgb(234, 236, 239);
}

h3, h4, h5, h6 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 15px;
}

.time {
    font-size: 10px;
    float: right;
    padding: 5px 8px;
    border-radius: var(--border-radius);
    background-color: #ffffff;
    color: #303030;
    font-weight: normal;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 6px 10px;
    border-radius: var(--border-radius);
    margin-right: 5px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
    }

    body, header a {
        color: #e0e0e0;
    }

    .item-list > li {
        background-color: #212121;
    }

    header {
        background: #1d1d1d;
        border-bottom: 1px solid #000000;
    }

    .time {
        background-color: #151515;
        color: #e0e0e0;
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
